# Built files
# We need to pull in existing libraries from
# upstream but don't include any changes to these.
package
classes
lib/*.jar
boot/classes
threadchecker/classes
threadchecker/pluginclasses

# persistent mf
/lib/userlib/bluej-junit-ext.jar

# Configuration
build.properties

# Packages
javafx17.0
